<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Naše služby</h2>
                    <h3 class="section-subheading text-muted">Vyrábíme kvalitní české výrobky.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<img src="https://img.icons8.com/pastel-glyph/64/000000/leather.png"/>
                    <h4 class="service-heading">Výrobky z kůže</h4>
                    <p class="text-muted"> </p>
                </div>
                <div class="col-md-4">
                    <img src="https://img.icons8.com/pastel-glyph/64/000000/sewing-machine.png"/>
                    <h4 class="service-heading">Šití</h4>
                    <p class="text-muted"> </p>
                </div>
                <div class="col-md-4">
                    <img src="https://img.icons8.com/pastel-glyph/64/000000/hand-plane.png"/>
                    <h4 class="service-heading">Dřevo</h4>
                    <p class="text-muted"> </p>
                </div>
            </div>
        </div>
    </section>